.git/
.github/
.gitignore
.vscode/
.env
.env.*
*.md
site/
legacy/
docs/
mkdocs.yml
.venv/
venv/
.python-version
pytest.ini
__pycache__/
*.pyc
*.pyo
Dockerfile
.dockerignore

# Scalper code unused in live trading
scalper/backtesting_engine/
scalper/local_storage/
scalper/logs/
scalper/study_analyser/
scalper/tests/
scalper/Makefile